<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097846532237-qn4pr4fp8do68t1a094khbn895i2vdjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097846532237-qn4pr4fp8do68t1a094khbn895i2vdjb</string>
	<key>API_KEY</key>
	<string>AIzaSyBfqXYHKLxeS_FIr01RU-J1mMblXW6QHF0</string>
	<key>GCM_SENDER_ID</key>
	<string>1097846532237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wols.projetoCarteira</string>
	<key>PROJECT_ID</key>
	<string>projeto-carteira</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-carteira.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097846532237:ios:c586b01ac04be38d151ac4</string>
</dict>
</plist>